einops=0.6.1=pypi_0
addict=2.4.0=pypi_0
timm=0.9.2=pypi_0
colorama=0.4.6=py38haa95532_0
colour-demosaicing=0.2.2=pypi_0
colour-science=0.4.1=pypi_0
h5py=3.8.0=pypi_0
imageio=2.28.1=pypi_0
matplotlib=3.7.1=py38haa95532_1
scikit-image=0.20.0=pypi_0
scipy=1.9.1=pypi_0
tensorboard=2.13.0=pypi_0
torch=1.13.1+cu116=pypi_0
torchaudio=0.13.1+cu116=pypi_0
torchvision=0.14.1+cu116=pypi_0
tqdm=4.65.0=pypi_0
